.img-responsive {   width: 175px;
                    height: 150px;}

body {  width: 100%;
        max-width: 960px;
        background-image: src="assets/images/https://www.toptal.com/designers/subtlepatterns/patterns/dust_scratches.png";
    }

.navbar {   height: 75px;
            padding: 15px;
        }


.navbar-name {  padding-left: 50px;
                margin: 0;
                color: black;
                font-size: 24px;
}


h1 {    border-bottom: 2px solid gray;
        background-color: crimson;
        color: white;}

.col-md-8 { border: 1px solid lightgray;
            text-align: center;}

.col-md-4 {float: right;}

footer {width: 100%;
        line-height: 28px;
        font-size: 22px;
        color: crimson;
        background-color: lightgray;
    }